.App {
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#side-menu {
    position: absolute;
    left: 0;
    height: 100%;
    width: 18%;
    padding: 20px;
    /* background-color: rgba(44, 72, 117, 0.4); */
    background-image: linear-gradient(45deg, #93a5cfd5 0%, #e4efe9d7 100%);

    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.file-preview-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 25px;
}

.file-preview {
    width: 175px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
    background-color: #faf0f0;
}

.file-preview :hover {
    transform: scale(1.1);
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.4);
}

.upload-container {
    width: 600px;
    min-height: 500px;
    float: left;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    /* background-color: rgba(0, 0, 0, 0.1); */
    background-color: #eaeaea;
}

#file-input-label {
    display: flex;
    flex: 1;
    width: '100%';
    flex-direction: column;
    /* padding-top: 10px; */
    padding-left: 20px;
    /* background-color: red; */
}

.viewer-canvas {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
}

input {
    min-width: 60%;
}

.close-button {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.close-button:active,
.close-button:hover {
    transform: scale(1.2);
}

.stl-view {
    display: flex;
    flex: 1;
}

.fileContainer {
    max-width: 150px;
    background: coral;
    border-radius: 0.5em;
    float: left;
    padding: 1em;
}

.fileContainer [type='file'] {
    cursor: pointer;
}
