.App {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.space {
    background: rgba(128, 0, 128, 0.1) center / 200px 200px round;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.stars1 {
    animation: space 180s ease-in-out infinite;
    background-image: radial-gradient(1px 1px at 25px 5px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1px 1px at 50px 25px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1px 1px at 125px 20px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1.5px 1.5px at 50px 75px, white, rgba(255, 255, 255, 0)),
        radial-gradient(2px 2px at 15px 125px, white, rgba(255, 255, 255, 0)),
        radial-gradient(2.5px 2.5px at 110px 80px, white, rgba(255, 255, 255, 0));
}
.stars2 {
    animation: space 240s ease-in-out infinite;
    background-image: radial-gradient(1px 1px at 75px 125px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1px 1px at 100px 75px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1.5px 1.5px at 199px 100px, white, rgba(255, 255, 255, 0)),
        radial-gradient(2px 2px at 20px 50px, white, rgba(255, 255, 255, 0)),
        radial-gradient(2.5px 2.5px at 100px 5px, white, rgba(255, 255, 255, 0)),
        radial-gradient(2.5px 2.5px at 5px 5px, white, rgba(255, 255, 255, 0));
}
.stars3 {
    animation: space 300s ease-in-out infinite;
    background-image: radial-gradient(1px 1px at 10px 10px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1px 1px at 150px 150px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1.5px 1.5px at 60px 170px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1.5px 1.5px at 175px 180px, white, rgba(255, 255, 255, 0)),
        radial-gradient(2px 2px at 195px 95px, white, rgba(255, 255, 255, 0)),
        radial-gradient(2.5px 2.5px at 95px 145px, white, rgba(255, 255, 255, 0));
}

#side-menu {
    position: absolute;
    left: 0;
    height: 100%;
    width: 18%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

@keyframes space {
    40% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.25;
    }
    60% {
        opacity: 0.75;
    }
    100% {
        transform: rotate(360deg);
    }
}

.file-preview-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 25px;
}

.file-preview {
    width: 175px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
    background-color: #faf0f0;
}

.file-preview :hover {
    transform: scale(1.1);
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.4);
}

.modal-container {
    width: 600px;
    min-height: 500px;
    float: left;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    background-color: #eaeaea;
}

.modal-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
}

#file-input-label {
    display: flex;
    flex: 1;
    width: '100%';
    flex-direction: column;
    padding-left: 20px;
}

.viewer-canvas {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
}

input {
    min-width: 60%;
}

.close-button {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.close-button:active,
.close-button:hover {
    transform: scale(1.2);
}

.stl-view {
    display: flex;
    flex: 1;
}

.upload-container {
    width: 175px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
    background-color: #faf0f0;
    padding: 3px;
}

.upload-label {
    width: 100%;
    font-size: 9px;
    font-weight: bold;
    border-radius: 0.5em;
    float: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.upload-input {
    width: 100%;
    margin-top: 10px;
}

.upload-input [type='file'] {
    cursor: pointer;
}

.modal-title {
    color: rgba(82, 3, 146, 0.9);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
}

.metrics-modal {
    position: absolute;
    z-index: 1;
    width: 350px;
    height: 600px;
    border-radius: 5px;
    background-color: white;
    right: 50px;
    padding: 20px;
}

.metric-detail-container {
    background-color: #eaeaea;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 5px;
}

.metrics-label {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.07;
    line-height: 1;
    color: rgba(82, 3, 146, 0.9);
}

.metrics {
    color: #00020e;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.07;
    line-height: 2;
}
